<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div id="hdSec"class="container" style="visibility: hidden;">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="assets/assets/img/buildrock-logo.png" style="height: 65px;" height="70px" alt="" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ulclass="navbar-nav text-uppercase ml-auto" (cli ck)="url_cli ck()">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['']">Home</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/who-we-are']">WHO WE ARE</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/what-we-do']">WHAT WE DO</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['/contact-us']">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">TURNING BIG IDEAS<br>
            INTO GREAT PRODUCTS</div>
        <div class="masthead-heading text-uppercase">We work on the forefront of innovation and technology to take<br>
            products from an idea all the way to the endconsumer.</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
</header>

<!-- Services-->

<section class="slogo">
    <div class="overlay" style="opacity: 0.9; background-color: rgb(253, 198, 0);"></div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4"><span class="fa-stack fa-4x"><i
                        class="fas fa-circle fa-stack-2x" style="color: #149DCC;"></i><i
                        class="fas fa-bell fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">VALUE-ADDED<br > SOLUTIONS</h4>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x"><i
                        class="fas fa-circle fa-stack-2x" style="color: #149DCC;"></i><i
                        class="fas fa-globe fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">SUSTAINABLE<br > DEVELOPMENT </h4>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x"><i
                        class="fas fa-circle fa-stack-2x" style="color: #149DCC;"></i><i
                        class="fas fa-info-circle fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">ALWAYS BETTER<br > THAN THE BEST</h4>
            </div>
        </div>
    </div>
</section>