<!-- Footer-->
<footer class="footer py-4" style="background-color: #000;">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 col-md-6 col-6 text-left">
                <strong>Address</strong>
                <p>
                    Building adrress, streen No.<br>
                    City name, State<br>
                    India, 110091
                </p>
                <strong>GET IN TOUCH</strong>
                <p>
                    Mob. No - +91-124-4912800<br>
                    Email Id - buildrock.chemicals@gmail.com
                </p>
            </div>
    
            <div class="col-lg-4 col-md-6 col-6 text-left">
                <strong>Useful links</strong>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Who we are</a></li>
                    <li><a href="">What we do</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 d-none d-lg-block d-xl-block">
                <app-google-map></app-google-map>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">
                <a class="mr-3" href="#!">Privacy Policy</a><a href="#!">Terms of Use</a>
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a><a
                    class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a><a
                    class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-right" style="color: #fff;">
                Copyright © Your Website 2020
            </div>
        </div>
    </div>
</footer>