<!-- Footer-->
<footer class="footer" style="background-color: #000;padding:10px 0px 0px 0px">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 col-md-6 col-6 text-left">
                <h3>Stay in Touch</h3>
                <h4>Buildrock Social Media</h4>
                <p>Connected up to date with the latest news and opportunities.</p>
                <p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" style="margin-left: 0px!important;"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </p>
            </div>
    
            <div class="col-lg-5 col-md-6 col-6 text-left ft-center">
                <div class="row">
                  <div class="col">
                    <h4>Buildrock Products</h4>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Who we are</a></li>
                        <li><a href="">What we do</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="col">
                    <h4>Useful links</h4>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Who we are</a></li>
                        <li><a href="">What we do</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Download brochure</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 text-left">
                <div class="footer-contact">
                <h3>Contact Buildrock</h3>
                <p>Plot No. 1, Khewat 113,<br>
                Pukarpur, Industrial Area,<br>
                 Binola, Haryana 122413</p>
                 <ul>
                    <li><i class="fab fa fa-phone-square"></i>+91-124-4912800</li>
                    <li><i class="fab fa fa-envelope-square"></i>buildrock.chemicals@gmail.com</li>
                 </ul>
                </div>
            </div>
        </div>        
    </div>
    <div style="border-top: 1px solid #FFC400;">
        <div class="container align-items-center">
            <div class="col-lg-12 text-lg-center" style="color: #fff;padding:3px 0px">
                Copyright © Your Website 2020
            </div>
        </div>
    </div>
</footer>