<!-- <app-google-map [width]="100" height="400"></app-google-map> -->
<section class="page-section bg-light">
  <div class="texture_contact">
  </div>
  <div class="container container-sm inner-sec">
    <div class="text-left">
      <div style="border-bottom: 1px solid #fdc600;margin-bottom: 10px;">
        <h3>Get in touch. Let’s work together</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-md-5">
        <h5>How can we help you?</h5>
        <form [formGroup]="aFormGroup" action="forms/contact.php" method="post" autocomplete="off" role="form" class="php-email-form">
          <div class="form-group">
            <input type="text" name="name" autocomplete="off" class="form-control" id="name" placeholder="Your Name"
              data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="form-group form-inline">
            <input type="text" name="name" style="width: 49%;" class="form-control" id="phoneNo" placeholder="Your phone no."
              data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
            <input type="text" name="name" style="margin-left: 1%;width: 50%;" class="form-control" id="phoneNo" placeholder="Company name"
              data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="form-group form-inline">
            <input type="text" name="name" style="width: 49%;" class="form-control" id="phoneNo" placeholder="City"
              data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <input type="text" style="margin-left: 1%;width: 50%;" name="name" class="form-control" id="phoneNo"
              placeholder="State" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>

          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
              data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required"
              data-msg="Please write something for us" style="height: 60px;" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <!-- <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div> -->
          <div class="text-right form-group">
             
              <ngx-recaptcha2 [siteKey]="siteKey" (success)="handleSuccess($event)" 
              [useGlobalDomain]="false" [size]="size" [type]="type"
              formControlName="recaptcha">
              </ngx-recaptcha2>
          
          
              <button type="submit" class="btn btn-danger" style="margin-top: -72px;">Send Message</button>
          
          </div>
        </form>
      </div>
      <div class="col-xl-7 col-md-7 left-box-shadow looking">
        <h5>Looking forward to speak on the phone? </h5>
        <div class="d-flex flex-row">
          <div style="width:33%">
            <ul class="looking-panel">
              <li><b>Sales Team:</b></li>
              <li><span>Email: </span>sales@buildrock.in</li>
              <li>
                <span>Phone: </span>+91 9899314000
              </li>
            </ul>
          </div>
          <div style="width:33%">
            <ul class="looking-panel">
              <li><b>Support Team:</b></li>
              <li><span>Email: </span>info@buildrock.in</li>
              <li><span>Phone: </span>+91 XXXXXXXXXXXX</li>
            </ul>
          </div>
          <div style="width:33%">
            <ul class="looking-panel">
              <li><b>Website:</b></li>
              <li><a href="http//www.buildrock.in" class="href">www.buildrock.in</a></li>
            </ul>
          </div>
        </div>

        <div class="d-flex flex-row">
          <div style="width:33%">
            <strong>Head Office: </strong>
            <p>
              Plot No. 1, Khewat 113,
              Village Pukarpur (Panchgaon),<br>
              Panchgaon -Jamalpur Road, <br>
              Industrial Area, Binola, <br>
              Gurugram, Haryana 122413
            </p>
          </div>
          <div style="width:33%">
            <strong>Manufacturing Unit: </strong>
            <p>
              H240 RIICO industrial area,<br>
              Karoli (Khushkheda),<br>
              Thesil- Tijara Distt - Alwar, <br>
              Rajasthan
            </p>
          </div>
          <div style="width:33%">
            <strong>Sales Office: </strong>
            <p>
              H-9/B1, Vardhaman Corporate Plaza,<br>
              Netaji Subhash Place, <br>
              Pitampura, <br>
              Delhi, 110034
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row lower-panel">
      <div class="col-xl-5 col-md-5">
        <div class="flex flex-row">
          <div class="w-50"></div>
          <div class="contact-about">          
            <h5>Stay in Touch</h5>
            <strong>Buildrock Social Media</strong>
            <p>
              Connected up to date with the latest news and opportunities.
            </p>
            <p>
              <a class="btn btn-dark btn-social mx-2" href="#!" style="margin-left: 0px!important;"><i
                  class="fab fa-twitter"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </p> 
            <br>
            <h5>Download Online Brochures</h5>
            <p>PROUDLY MAKE ININDIA </p>  
            <button class="btn btn-block btn-dark">DOWNLOAD BROUCHER</button>       
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 left-box-shadow">
        <app-google-map width="640" height="280"></app-google-map>
      </div>
    </div>
  </div>
</section>