<div class="py-5">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">OUR CLIENTS</h2>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col">
                <div class="brands_slider_container">
                    <div class="owl-carousel owl-theme brands_slider">
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/assets/img/logos/creative-market.jpg" alt=""></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/assets/img/logos/designmodo.jpg" alt=""></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/assets/img/logos/envato.jpg" alt=""></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/assets/img/logos/themeforest.jpg" alt=""></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/assets/img/logos/creative-market.jpg" alt=""></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/assets/img/logos/designmodo.jpg" alt=""></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/assets/img/logos/envato.jpg" alt=""></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img src="assets/assets/img/logos/themeforest.jpg" alt=""></div>
                        </div>
                    </div> <!-- Brands Slider Navigation -->                    
                </div>
                <div class="container text-center row" style="padding-top: 20px;">
                    <div class="brands_nav brands_prev col-6 text-right">
                        <i class="fa fa-chevron-circle-left arrow" aria-hidden="true"></i>
                    </div>
                    <div class="brands_nav brands_next col-6 text-left">
                        <i class="fa fa-chevron-circle-right arrow" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>