<div class="py-5">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">OUR CLIENTS</h3>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col">
                <div class="brands_slider_container">
                    <div class="owl-carousel owl-theme brands_slider">
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                               <div class="client cl1"></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl2"></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl3"></div></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl4"></div></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl5"></div></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl6"></div></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl7"></div></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl8"></div></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl9"></div></div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <div class="client cl10"></div></div>
                        </div>
                    </div> <!-- Brands Slider Navigation -->                    
                </div>
                <div class="container text-center row" style="padding-top: 20px;">
                    <div class="brands_nav brands_prev col-6 text-right">
                        <i class="fa fa-chevron-circle-left arrow" aria-hidden="true"></i>
                    </div>
                    <div class="brands_nav brands_next col-6 text-left">
                        <i class="fa fa-chevron-circle-right arrow" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>