.timeline-item {
    padding: 6px 0px 10px 15px;
    position: relative;
    color: #000;
    border-left: 2px solid #FDC600
  }
  
  p {
    font-size: 1rem;
  }
  
  /* .timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .785rem;
  } */
  
  .timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid #FDC600;
    background: #000;
  }
  
  /* .timeline-item:last-child {
          border-image: linear-gradient(
              to bottom,
              $border-color 60%,
              rgba($border-color, 0)) 1 100%
          ;
    } */
    .about-us p{
      font-size: 13px!important;
    }
  .section-heading{
    font-size: 15px;
  }
  strong{
    font-size: 13px;
  }
  ul li, span{
      font-size: 13px;
  }
  p{
      margin-bottom: 3px!important;
  }