<section class="page-section bg-light">
    <div class="texture">
    </div>
    <div class="container container-sm inner-sec about-us">
        <div class="text-left">
            <h4 class="section-heading text-uppercase" style="border-left: 5px solid #FDC600;">&nbsp;QUALITY ASSURANCE
            </h4>
        </div>
        <div class="row">
            <div class="col-12">
            <div class="timeline-item" date-is='20-07-1990'>
                <p>Quality is the essence of our business because we believe that quality paves the way to
                    success in any industry. We understand that premium quality products are required in the
                    construction chemical industry because our products are responsible for building strong
                    structures. Indirectly, we are accountable for creating valuable and dependable structures for
                    society. We are answerable to people and their lives who are using structures built with our
                    products. We realize our social responsibility and thus direct all our efforts to serve the best
                    quality products.
                </p>
                <span>Our core competencies include:</span>
                <ul>
                    <li>Consistent quality products and services</li>
                    <li>Team-Spirit</li>
                    <li>Respecting people, employees, customers</li>
                    <li>Safety Measures</li>
                    <li>Ethics</li>
                    <li>Target accomplishment on time</li>
                    <li>Research and development for continuous improvement and learning</li>
                </ul>
                <p>
                    We have the following certifications which second our claims of stringent quality work methods,
                    products, and customer service.
                </p>
            </div>
            <div class="timeline-item" date-is='20-07-1990'>
                <p><b>ISO 9001:</b> It certifies that our products are manufactured with a focus on consistency in
                    quality
                    to meet customer requirements and regulatory requirements. Our R&D to regularly upgrade
                    technology allows us to offer premium product quality at competitive pricing.
                </p>
            </div>
            <div class="timeline-item" date-is='20-07-1990'>
                <p><b>OHSAS 18001:</b> Just as we take care of our customers, our employees can also rest assured
                    under our roof. Our management takes utmost care to ensure Occupational Health and Safety
                    for employees, visitors to our premises and contractors associated with us. This has been
                    certified by OHSAS Policy 18001.
                    
                </p>
            </div>
            <div class="timeline-item" date-is='20-07-1990'>
                <p><b>EMS 14001:</b> When we are so considerate about quality in every aspect, we cannot overlook
                    controlling the environmental effects of our products and procedure to manufacture them. Our
                    environmental policy guides us to control air, water and noise pollution within the minimum limit
                    as prescribed by the regulatory authorities. Furthermore, we take every step to maintain
                    environment-friendly atmosphere inside and outside our factory premises.
                    
                </p>
            </div>
        </div>
        </div>
    </div>
</section>