<section class="page-section bg-light">
    <div class="texture">
    </div>
    <div class="container container-sm inner-sec about-us">
        <div class="text-left">
            <h4 class="section-heading text-uppercase" style="border-left: 5px solid #FDC600;">&nbsp;
                The Process of Waterproofing in Buildings
            </h4>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="timeline-item" date-is='20-07-1990'>
                    <p>Waterproofing is the process of forging a subject in the form of an object or material or
                        structure waterproof or
                        water-resistant. The subjects that go through this process of waterproofing are generally used
                        in areas with a
                        wet environment or underwater to a designated depth. Generally, the process of waterproofing is
                        used in the
                        construction business while building structures like basements, decks, or other wet areas. In
                        the field of
                        construction, a building or specific structures are waterproofed using membranes and coatings to
                        protect the
                        structure’s content and it’s structural integrity. The process of waterproofing has evolved as a
                        fundamental
                        aspect of the construction business these days. The overall process of enveloping the building
                        with
                        waterproofing is called a controlled environment. The major areas of a building that demands the
                        need of going
                        through the process of waterproofing are roofs, sidings, foundations, and all other surfaces
                        which will have
                        direct contact with water and needs a proper waterproofing
                    </p>
                    <strong>The ordinarily used materials in the process of waterproofing of the building or structures
                        are :</strong>
                    <ul>
                        <li>cementitious materials</li>
                        <li>bituminous material</li>
                        <li>liquid waterproofing membrane</li>
                        <li>Polyurethanes liquid materials.</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <img src="assets/assets/img/blog/image3.png" style="width:100%" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="timeline-item" date-is='20-07-1990'>
                    <h5>Variegated Waterproofing procedures used for Buildings</h5>
                    <p>As mentioned above, there are various procedures used for waterproofing in buildings, the most
                        commonly used procedures are :
                    </p>
                    <ul>
                        <li>Cementitious Waterproofing procedure</li>
                        <li>Liquid Waterproofing Membrane procedure</li>
                        <li>Bituminous Membrane procedure</li>
                        <li>Bituminous Coating procedure</li>
                        <li>Polyurethanes Liquid Membrane procedure</li>
                    </ul>
                    <p>Let us make you understand the processes involved in all these procedures in a detailed
                        description of all. </p>
                </div>
                <div class="timeline-item" date-is='20-07-1990'>
                    <h5>Cementitious Waterproofing procedure</h5>
                    <p>Cementitious Waterproofing technique is considered the most facile procedure amongst all. All the
                        matters and pieces of stuff required for commencing this procedure are readily available at a
                        plethora of purveyors of workmanship products. Mixing and applying these materials is just like
                        a piece of cake. This particular procedure is usually used in waterproofing the enclosed wet
                        areas of a building or structure like bathrooms and kitchens. This procedure is considered as an
                        inflexible or semi-flexible type of waterproofing, however, being used in the internal part of
                        the buildings or structures like bathrooms, exposing to sunlight or weather-beaten isn’t there.
                        Hence, this procedure doesn’t go through the process of contraction and expansion. Apart from
                        toilets, the other areas where this procedure is best-suited are :</p>

                    <span>Talking about mineral admixtures, there are certain elements that come under it like :</span>
                    <ul>
                        <li>Water Treatment Plants</li>
                        <li>Sewage Treatment Plants</li>
                        <li>Bridges</li>
                        <li>Dams</li>
                        <li>Railways and Subways Systems.</li>
                        <li>Marine Cargo Ports and Docks</li>
                        <li>Parking lots and structures</li>
                        <li>Tunnels</li>
                    </ul>
                </div>
                <div class="timeline-item" date-is='20-07-1990'>
                    <h5>Liquid Waterproofing Membrane procedure</h5>
                    <p>A procedure involving a thin coating consisting of a primer coat followed by two topcoats that
                        are applied by either spray or roller or trowel is called the Liquid Waterproofing Membrane
                        procedure. Liquid Waterproofing membrane procedure proves to be relatively flexible as compared
                        to the cementitious waterproofing procedure. The liquid used in this procedure smokes into a
                        rubbery coating on the walls. The prolongation properties of each coat used in this process can
                        reach as high as 280%. However, the durability factor of the waterproofing coating depends on
                        the type of polymer used by the manufacturer in the making of liquid waterproofing material.
                    </p>
                    <p>The Liquid waterproofing membrane can be applied as a spray- liquid membrane having a composition
                        of polymer-modified asphalt. Apart from the liquid waterproofing membrane, a manufacturer can
                        easily find polyurethanes liquid membranes in distinctive grades for either trowel or rollers or
                        spray. </p>
                </div>
                <div class="timeline-item" date-is='20-07-1990'>
                    <h5>Bituminous Coating Waterproofing procedure</h5>
                    <p>The coating used for waterproofing and supple and shielding coat according to the formulation and
                        polymerization
                        grade comes under the process of the Bituminous Coating Waterproofing procedure. The supple and
                        shielding nature
                        of this procedure against the water can be swayed by both polymer grade and reinforcement of
                        fibers. </p>
                    <p>The other and more common name of Bituminous coating is asphalt coating. Areas that are
                        underneath screed wet are
                        the most common areas of applications of the bituminous coating. This is an excellent
                        waterproofing agent and a
                        protective coating specifically for surfaces with concrete foundations. </p>
                    <p>The coating used under the bituminous coating is made out of bitumen based materials that aren’t
                        suitable for
                        sun-exposure. In any case, having prolonged exposure to sunlight can make the material extremely
                        crumbly and
                        fragile unless it is altered with more supple material such as polyurethanes or acrylic-based
                        polymers. The
                        overall flexibility of the finished products solely depends on the solid content of the polymer
                        added to the
                        bitumen. </p>
                </div>
                <div class="timeline-item" date-is='20-07-1990'>
                    <h5>Bituminous Membrane Waterproofing procedure</h5>
                    <p>Another popular procedure of waterproofing amongst low-sloped roofs with proven performance is
                        the Bituminous membrane waterproofing procedure. The Bituminous membrane waterproofing procedure
                        has flambeau membranes and self-adhesive membranes.
                        The self-adhesive membrane is a composition of asphalt, polymers, and fillers. However, at times
                        additional resins and oil might get added to this composition to improve the overall adhesive
                        property. The shelf-life of the self-adhesive type is low as the bonding feature of this
                        membrane decreases with time.
                    </p>
                    <p>On the other hand, the flambeau membrane consists of both exposed and covered types. To confront
                        the damage and rupture of the crumbling this membrane many a time has mineral granular aggregate
                        and for other types of membranes, the builder or the contractor needs to apply a shielding
                        screed preventing puncturing of the membrane. </p>

                </div>
                <div class="timeline-item" date-is='20-07-1990'>
                    <h5>Polyurethane Liquid Membrane Waterproofing procedure</h5>
                    <p>The last one on our list is this procedure of waterproofing for flat surfaces like roof areas and
                        other areas that are pregnable to weathering. The polyurethane liquid membrane waterproofing
                        procedure is an expensive waterproofing procedure. It offers higher flexibility and is very
                        sensitive to the moisture content present in the atmosphere. Therefore, the applicant needs to
                        have a careful evaluation of the moisture content of the surface, avoiding the risks of peeling
                        or debonding of membranes after some time. </p>
                </div>
            </div>
        </div>
    </div>
</section>