<section class="page-section bg-light" style="margin-top: 40px;">
  <div class="container container-sm">
    <div class="text-left">
      <h3 class="section-heading text-uppercase" style="border-left: 5px solid #FDC600;">&nbsp;About Buildrock</h3>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <div class="timeline-item" date-is='20-07-1990'>
          <p>Geniuses pave their way, so did we. Buildrock.in is a start-up manufacturing firm producing
            a variety of building construction materials. Our firm is growing at a fast pace with the efforts
            of a dexterous, innovative and experienced team. Our novelty with a blend of experience is
            our strength. We are small wonders.</p>
        </div>

        <div class="timeline-item" date-is='20-07-1990'>
          <p>
            We are capable of handling small to large scale projects with equal ease and proficiency. We back our
            customers to build rock-solid and safe structures by providing them premium quality building materials. We
            serve customized solutions to our customers as we understand that every customer has a different need. Our
            R&D
            department strives to introduce innovative technologies for the benefit of our customers in terms of the
            quality and the price of the building materials. Our target completion success rate, on-time safe delivery,
            and other services are unbeatable.
          </p>
        </div>

        <div class="timeline-item" date-is='20-07-1990'>
          <p>We understand our social responsibility and our working practices are environment-friendly. Our firm is ISO
            9001 certified. We believe in value creation for our customers, end-user, and society and thus give them the
            value of every coin spent by them by offering them sound and distinguished building materials and allied
            products.</p>
        </div>
      </div>
      <div class="col-xl-4">
        <img src="assets/assets/img/Header.jpg" class="img-fluid" alt="">
      </div>
    </div>

  </div>
</section>
