#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
    font-size: 1rem;
   font-weight:normal;
    margin-bottom: 0;
}
.page-section h2.section-heading{
    font-size: 1.5rem;
}