<div class="row">
  <div class="col-lg-3 col-sm-6 col-6 mb-3" *ngFor="let item of products">
    <div class="portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
        <!-- <div class="portfolio-hover">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
          </div> -->
        <img class="img-fluid" src="assets/assets/img/portfolio/{{item.image}}" alt="" />
      </a>
      <div class="portfolio-caption">
        <div class="portfolio-caption-heading">{{item.text}}</div>
      </div>
    </div>
  </div>
</div>
