<div class="row">
    <div class="col-xl-12 col-md-12">
        <div style="border-bottom: 1px solid #fdc400;">
            <h5>DESCRIPTION</h5>
        </div>
    </div>
    <div class="col-xl-7 col-md-7">
        <strong>Main uses</strong>
        <p>
            Auracast 404 is a high performance super plasticizer
            suitable for precast concrete industry to obtain high early
            strength and moderate workability retentions are required.
        </p>
        <ul>
            <li>Moderate workability retention concrete.</li>
            <li>Suitable for Self-compacting concrete.</li>
            <li>High performance concrete.</li>
            <li>High early strength.</li>
        </ul>
        <strong>Advantages</strong>
        <p>Low viscosity admixture suitable for precast industry</p>
        <p>Suitable for concrete having cement replacements and low water cement ratio</p>
        <ul>
            <li>Moderate workability retention concrete.</li>
            <li>Suitable for Self-compacting concrete.</li>
            <li>High performance concrete.</li>
            <li>High early strength.</li>
        </ul>
    </div>
    <div class="col-xl-5 col-md-5">
        <div style="padding-top: 20px;">
            <img src="assets/assets/img/portfolio/06-full.jpg" class="card-img-top" style="width: 300px;" alt="">
        </div>
    </div>
</div>