/* You can add global styles to this file, and also import other style files */
.hide {
  display: none;
}

.slogo {
  background-image: url('src/assets/assets/img/sl_bg.png');
  padding: 3rem 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  opacity: 0.9;
  background-color: rgb(253, 198, 0);
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

.masthead-subheading {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}

.masthead-heading {
  text-align: left;
  font-weight: bold;
}

@media (min-width: 768px) {
  .masthead-subheading {
    font-size: 3rem !important;
    line-height: 3rem !important;
    font-weight: bold !important;
  }
}

@media (min-width: 992px) {
  .header.masthead {
    padding-top: 12rem;
  }

  .logo-desk {
    position: absolute;
    top: -15px;
  }
}

@media (max-width: 992px) {
  .logo-style {
    width: 130px !important;
    ;
  }
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.page-section h2.section-heading {
  font-size: 1.5rem;
}
.texture{
  background: url(src/assets/assets/img/texture.jpg);
  height: 270px;
  width: 100%;     
  margin-top: -15px;
}

.inner-sec{
  box-shadow:-1.8px 3.6px 35.3px 2.7px rgba(0,0,0,.11);
  background-color: #fff;
  margin-top: -170px;
  position: relative;
  padding-top: 20px;
}
.inner-sec p{
  line-height: 18px;
}