.forum {
  background-color: #FFC400;
  padding: 40px 0px;
}

.slogo {
  padding: 2px 0px;
}

.slogo h4.my-3 {
  padding: 0px;
  margin: 0px !important;
  font-size: 20px;
}

#portfolio {
  padding: 10px 0px;
}

.section-heading {
  font-size: 20px;
}

.forum {
  padding: 10px 0px;
}

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("src/assets/assets/img/buildrock_banner.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
