<div class="row">
    <div class="col-lg-3 col-sm-6 col-6 mb-3" *ngFor="let item of types;let i=index">
      <div class="portfolio-item">
        <a class="portfolio-link" routerLink="/what-we-do/products">
          <!-- <div class="portfolio-hover">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
          </div> -->
          <img class="img-fluid" src="assets/assets/img/{{item.image}}" alt="" />
        </a>
        <div class="portfolio-caption">
          <div class="portfolio-caption-heading">{{item.title}}</div>
        </div>
      </div>
    </div>
  </div>