<section class="page-section bg-light">
    <div class="texture">
    </div>
    <div class="container container-sm inner-sec about-us">
      <div class="text-left">
        <h4 class="section-heading text-uppercase" style="border-left: 5px solid #FDC600;">&nbsp;
            Elucidating the term “Admixtures”
        </h4>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="timeline-item" date-is='20-07-1990'>
            <p>Superplasticizers are more commonly known as high range water reducers, are add-ons used in developing high
              strength concrete. Plasticizers are basically the chemical compounds enabling the production of concrete
              with reduced water content up to 15%. However, superplasticizers are a step ahead of plasticizers making the
              reduction water content in the concrete up to 30% or more. Both Plasticizers and Superplasticizers are
              responsible for retarding the curing of concrete.
            </p>
            <p>
              The demand for superplasticizers is high where well-dispersed particle deferral is required in lieu of
              improving the flow properties of suspensions like in concrete applications. Adding of superplasticizers in
              the concrete or mortar gives the go-ahead to the reduction of water content in the overall cement ratio
              without affecting the workability of the mixture, however, enabling high-performance concrete. The
              sturdiness of the concrete increases with relatively reduced water content from the cement mixture which is
              enabled with the addition of this element.
            </p>
            <strong>Let’s take a tour inside the mechanism of superplasticizers in making a strong and high-performance
              concrete used these days in the construction line. </strong>
  
          </div>
        </div>
        <div class="col-4">
          <img src="assets/assets/img/blog/image2.png" style="width:100%" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="timeline-item" date-is='20-07-1990'>
            <h5>Understanding High-Performance Concrete(HPC)</h5>
            <p>Concrete has a new definition now and isn’t restricted to being a simple mixture of cement, sand, and
              water. The evolution of the concrete mixture has revolutionized by the round-the-clock advancement in
              technology. It is no more restricted to the above-mentioned contents and consists of a diversity of
              properties.
            </p>
            <p>Nowadays, concrete has gained the repute of being work-friendly, more durable and stronger than ever with
              the addition of other desirable characteristics. High-Performance Concrete is this concrete mixture with
              advanced diversified characteristics making the construction more sturdy and durable. </p>
            <p>It is the usage of varied chemical and mineral admixtures along with fibers that result in the emergence of
              the High-Performance Concrete giving a deeper understanding of the microstructure of normal concrete and
              properties of its components. </p>
            <p>The addition of these elements has made the concrete not only work-friendly but also easily available and
              economically viable making the high-performance concrete a universal material used in every kind of
              construction. </p>
          </div>
          <div class="timeline-item" date-is='20-07-1990'>
            <h5>Utilization of Superplasticizers as Admixtures in Concrete</h5>
            <p>Materials used in concrete in addition to its basic components and constituents are called admixtures.
              Admixtures are basically of two types: Chemical Admixtures and Mineral Admixtures. </p>
  
            <span>Talking about mineral admixtures, there are certain elements that come under it like :</span>
            <ul>
              <li>Flyash</li>
              <li>Silicate Fume</li>
              <li>Slag</li>
              <li>Pozzolanic materials</li>
              <li>Cement containing materials</li>
            </ul>
            <p>
              These elements are added accordingly to overall intensify the workability of the concrete and enhance
              resistance to thermic cracking and alkali-aggregate effect facilitating a reduction of these reactions in
              cement content.
            </p>
            <p>Whereas chemical admixtures are added in minimal quantity to the cement mainly to make air entertainment,
              reduction of water, plasticizing of new concrete mixtures or to reign the setting-duration of the concrete.
              The chemical admixtures can broadly be categorized into the following elements :</p>
            <ul>
              <li>Superplasticizers</li>
              <li>Accelerators</li>
              <li>Retarders</li>
              <li>Water reducers</li>
              <li>Air Entraining admixtures</li>
            </ul>
            <p>Superplasticizers are added into the concrete mainly to reduce the water content from 15% to 20% without
              disturbing the workability of the concrete leading to its high strength and density. These are liner
              polymers consisting of sulfonic acid groups that are attached to the polymers at methodical interludes. The
              main purpose of using superplasticizers as an admixture in the making of high-performance concretes is for
              producing flowing concrete having high slumps varying between 175 to 200mm. These are used efficiently in
              densely reinforced structures, increasing the rut of concrete depending upon its dosage, type and time of
              superplasticizers, water ratio, nature and amount of concrete. It is advised that the superplasticizers
              should get added before placing the concrete. </p>
            <p>Now, with round-the-clock advancement in the technology, the construction business is gifted with yet
              another smacking element known as <b>New Generation Superplasticizers.</b></p>
            <h5>What is New Generation Superplasticizers?</h5>
            <p>When the conventional plasticizers are developed with superior performance properties is what makes the new
              generation superplasticizers. Elements that fall under this kind of superplasticizer is Polycarboxylate
              Ether or simply Polycarboxylate. The performance of these superplasticizers is better than the traditional
              Sulfonated Polymers by either giving a higher reduction in the water-cement ratio or higher slump level at a
              given mixture composition with lower slump losses. The New Generation Superplasticizers like Polycarboxylate
              are capable of water reduction of up to 40%. </p>
          </div>
          <div class="timeline-item" date-is='20-07-1990'>
            <h5>Advantages of adding admixtures like Superplasticizers in Concrete</h5>
            <p>There are a plethora of benefits when admixtures like superplasticizers are added in the concrete. However,
              the most glaring advantages of having admixtures added to the concrete are :</p>
            <ul>
              <li>It increases the overall workability and strength of the concrete</li>
              <li>Homogeneity and cohesiveness of the concrete increases</li>
              <li>The durability of the mixture proliferates</li>
              <li>It either increases or decreases the setting time of the concrete</li>
              <li>Resistance against freezing increases and the thaw action tendency</li>
              <li>Water Proofing properties take a better turn</li>
              <li>Increase in corrosion resistance of steel and soundness</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>